# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Mellow Yellow Fellow - FC.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Frankie\OneDrive\Documents\Stage - 2 CompSci\CSC2034 Contemporary Topics in Computing\Major Project\Mellow Yellow Fellow - FC\.idea\.idea.Mellow Yellow Fellow - FC\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
