# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.The Mellow Yellow Fellow Release.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\benth\Desktop\The Mellow Yellow Fellow Release\.idea\.idea.The Mellow Yellow Fellow Release\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
